@charset "utf-8";
/* CSS Document */
/* Header */
/*Main navigation settigns*/
.nav {
  background-color: black; /*Changes background color of the nav*/
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 10px;
}
/* removes underline on navigation links */
.nav :hover {
	text-decoration:none;
}
/* Menu */ 

/* changes navigation's position, allowing text be closer to left side */
.container {
  width: 960px;
  	position:relative;
	right: 200px;
}
/* Basic css for menu. Makes nav in line and creates distance between them */
.container li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
/* color of navigation text */
.container a {
  color: #898989;
}
/* css for left navigation side*/
.left-side-menu {
  float: left;
  list-style: none;
  margin-top: 5px;
}
/* css of navigation for resume menu. Makes left text closure to left side*/
.nav .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
  position: relative;
  left: 300px;
}
/* small changes to Dropdown css from bootstrap. Changes dropdown's text, bacground color and border-radius */
.dropdown-menu {
  font-size: 14px;
  margin-top: 5px;
  min-width: 105px;
  background-color: black;
  border-radius: 10px;
}
/*changes dropdowns text*/
.dropdown-menu li a {
  color: white;
  padding: 6px 20px;
  font-weight: 300;
}



/* code for slide header */
.container-header {
	width: 960px;
}
/*copied code */
/* Carousel */

.slider {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ddd;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-copy h1 {
  color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin: 5px;
}
.slide-img {
  text-align: right;
}

/* Slide feature */

.slide-feature {
	background-position:center;
  background-image: url(../Images/one-piece-1080x1920.jpg);
  height: 470px;
  background-size:cover;
}
.slide-feature a {
  display: block;
  color: white;
  text-decoration:none;  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding-top: 150px;
  font-size: 30px;
  padding-right: 150px;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}
.slide-img {
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
.slideshow {
	background-repeat: no-repeat;
background-position:center;
}
/* Copied slide ends */
/* my own code for slide */
.slider .col-xs-4 h1 {
	color: black;
	text-align: center;
	font-weight: 500;
	font-size: 50px;
}
.slider .col-xs-4 p {
	color: #262222;
	text-align: center;
	font-size: 20px;
	padding: 10px;
}
.slider .col-xs-8 img {
	width: 700px;
	height: 400px;
	padding-top: 10px;
	position: relative;
	left: 150px;
}
.slider .col-xs-6 .cp9 img {
	width: auto;
	height: 200px;
	position:relative;
	right: 150px;
	top: 250px;
}
.slider .col-xs-6 .strawhat img {
	width:auto;
	height: 150px;
	position:relative;
	left: 330px;
	top: 20px;
}
.slider .col-xs-6 h1 {
	width:auto;
	height: 150px;
	position:relative;
	left: 550px;
	bottom: 75px;
	font-size: 70px;
	color: black;
	font-weight:300;
	text-shadow: 1px 1px #7A7A7A, 
	-1px -1px #574646,
	 2px 2px #777777,
	  -2px -2px #838383, 
	  -1px 1px #C0C0C0,
	  1px -1px #808080;
}
.col-xs-7 img {
	width:auto;
	height:450px;
}
.col-xs-5 h1{
	text-align:center;
	font-size: 50px;
	color:black;
	text-shadow: 3px 3px 1px #8E8E8E
}
.col-xs-5 p{
	text-align:center;
	font-size: 20px;
	color: black;
	text-shadow: 3px 3px 1px #8E8E8E
}
.slider .col-xs-4 h1{
	text-align:center;
	font-size: 50px;
	color:black;
	text-shadow: 3px 3px 1px #8E8E8E
}
.slider .col-xs-4 p{
	text-align:center;
	font-size: 20px;
	color: black;
	text-shadow: 3px 3px 1px #8E8E8E
}
/*css for main content */
main .col-xs-4 img {
	align-content:center;
	border-radius: 50%;
	padding: 5px 5px;
	height: 200px;
	width: 200px;
}
main .col-xs-4 h1 {
	text-align: center;
}
.content-box {
	background-color: #DDDDDD;
	height: auto;
	width: auto; 
	border-radius: 10px;
	box-shadow: 3px 3px 3px #6C6C6C;
}
main .col-xs-4 p {
	text-align: center;
	background-color: #ACACAC;
	color: black;
	padding: 10px 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
/* css for footer */
footer {
	text-align: center;
	background-color: black;
	color: white;
	height: auto;
	width: 100%;
	margin-top: 10px;
	clear: both;
}
.row {
	margin-right: 0;
	margin-left: 0;
}